h3{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: 300;
}
button{
    width: auto;
    height: auto;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
  }
  button:hover{
    background-color: red;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .buy:hover{
    background-color: green;
    color: black;
  }
  
  table tr div span {
    font-size: 20px; 
    margin-top:20px; 
    padding:20px; 
    font-family: 'Courier New', Courier, monospace;
}

table tr div {
  padding-left: 50px;
}

table div th {
  padding-left: 50px;
  align-content: center;
}

