.hlist {
    display: inline-flex;
    list-style: none;
    padding-top: 20px;
    padding: 50px;
  }
  button{
    width: 100px;
    height: 45px;
    background-color: grey;
  }
  button:hover{
    background-color: red;
    color: black;
  }